<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->
{% extends 'base.html' %}

{% block content %}

<div class="rounded bg-light p-5">
    <p>Just use the <a href="{% url 'feature_search' %}?q="><strong>Search box</strong></a> or click on <a href="{% url 'data_numbers' %}"><strong>Data summary</strong></a> to find out all the data that was loaded using <a href="https://github.com/lmb-embrapa/machado">machado</a>!</p>

    <h2>Malasseszia</h2>

    <p>Malassezia (anteriormente conhecido como Pityrosporum): é um gênero de fungos relacionados, classificados como leveduras, encontrados de forma natural na superfície da pele de muitos animais, incluindo humanos. Pode causar hipopigmentação no tronco e em outras partes de humanos quando se torna uma infecção superficial.</p>

    <p>Malasseszia DB é um banco de dados criado para ter facil acesso ao genoma da Malassezia.</p>
    
</div>

{% endblock %}
