<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->
{% extends 'base.html' %}

{% block content %}

<div class="rounded bg-light p-5">
    <p>Just use the <a href="{% url 'feature_search' %}?q="><strong>Search box</strong></a> or click on <a href="{% url 'data_numbers' %}"><strong>Data summary</strong></a> to find out all the data that was loaded using <a href="https://github.com/lmb-embrapa/machado">machado</a>!</p>

    <h2>Malassezia DB</h2>

    <p>Malassezia is a genus of fungi that is commonly found on the skin of humans and animals. These fungi are known to be responsible for a variety of skin diseases, such as dandruff and seborrheic dermatitis. In recent years, there has been an increasing interest in studying the mitochondrial genomes of Malassezia fungi, as they provide valuable information for understanding the evolution, diversity, and pathogenesis of these fungi.</p>

    <p>To facilitate research on mitochondrial genomics of Malassezia, we have developed a biological database that contains a comprehensive collection of mitochondrial genome sequences from various species of Malassezia fungi. The database provides detailed annotations of mitochondrial genome features, such as gene structures, gene order, and nucleotide compositions, and also includes tools for comparative analysis of mitochondrial genomes.</p>
 
    <p>This database serves as a valuable resource for researchers studying Malassezia fungi and their mitochondrial genomes. It will facilitate the identification of novel genetic markers for diagnosis and treatment of Malassezia-related skin diseases, and also advance our understanding of the evolutionary biology of these fungi.</p>
    
</div>

{% endblock %}
